n8n_export/workflows/CompanyDetailsRag.json
{
  "name": "CompanyDetailsRag",
  "nodes": [
    {
      "parameters": {
        "model": "llama3.2:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        140,
        -360
      ],
      "id": "77bfc7f3-d451-44ed-82a4-7d1bde65e67a",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "z5D0fFrw6QeEKb61",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        280,
        -360
      ],
      "id": "06249a88-7d3b-465d-8f34-2df84b7d15f6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 350,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        220,
        -220
      ],
      "id": "17fbd3c2-5bb1-4bf8-890c-7ddb819e2a38",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -180,
        200
      ],
      "id": "fab1f795-f85c-4ce8-b043-8513d913ad9a",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "z5D0fFrw6QeEKb61",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -80,
        360
      ],
      "id": "01df120a-4051-407f-ad6a-a66b9c985a42",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "z5D0fFrw6QeEKb61",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "numPredict": 200
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        300,
        200
      ],
      "id": "785331f1-a900-4528-a123-d21096ca0456",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "z5D0fFrw6QeEKb61",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -420,
        -40
      ],
      "id": "0d977fa7-2a3d-450f-836f-dc0d5ab4567b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -420,
        200
      ],
      "id": "19464573-0978-4694-acf9-b6f4d765474f",
      "name": "When chat message received",
      "webhookId": "bbc4c269-ff16-42c1-86fe-8953c38379c0"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        -560
      ],
      "id": "0a1cb294-9bdf-441e-9934-08483d900db7",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "you are a helpful assistant who will get the relevant data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -100,
        -40
      ],
      "id": "0ada8f34-a723-46f6-b0c8-b23549cd8a06",
      "name": "RAG"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9bd2deb-cd73-4706-bf79-1f04f4752909",
              "name": "data",
              "value": "## Powerful logistics platform enabling businesses  ## to build, scale, and manage supply chain  ## applications seamlessly  Infrastructure-free logistics solutions for faster development and seamless operations  Request Demo  ![cards](https://prayog.io/assets/cards.png)  Why Choose Prayog?  ## End-to-End Smart Logistics, Built for Developers  From booking to delivery, payments, and AI-powered automation, Prayog abstracts logistics complexities so businesses can focus on scaling, not managing infrastructure.  ### No Infrastructure Hassles  Easily integrate APIs & smart services.  ### AI-Driven Optimization  Intelligent rate card, pricing engine & real-time tracking.  ### Seamless Integrations  Connect with marketplaces, channels & storefronts.  ### Automation at Scale  AI-powered CRM, Booking & Hub Operations.  Explore Prayog Now  Solutions  ## The Prayog Advantage  Logistics Simplified, AI-Powered  ### Booking & Delivery Management  - ✓API – Effortless bookings - ✓Orchestrator – Smart automation - ✓Serviceability & Delivery Discover  ### AI-Powered Optimization  - ✓Ratecard – Custom pricing - ✓Pricing Engine (AI) (Coming Soon) - ✓Smart cost optimization  ### Payments & Financials  - ✓Integrated digital wallet - ✓Automated invoicing - ✓Coupons & Insurance (Coming Soon)  ### Tracking & Communication  - ✓Real-time Tracking - ✓Instant alerts & updates - ✓Label & Printer Support  ### Advanced Operations & AI  - ✓HUB Operator (AI) (Coming Soon) - ✓Booking Operator (AI) (Coming Soon) - ✓Tracking Operator (AI)  ### Data Engineering  - ✓Deep data insights - ✓Predictive Analytics - ✓Custom Reports (Coming Soon)  ## Marketplace & Channel Integrations  Expand Your Logistics Network Seamlessly  ### Marketplace Integration  Sell & ship across platforms effortlessly.  ### WhatsApp Service  Automate order updates & notifications.  ### Address Correction AI (Coming Soon)  Reduce failed deliveries with intelligent address validation.  Future-Ready Logistics  ### iSmart Sense (AI)  AI-driven insights for better logistics decisions.  ### Marketing & Ads Service  Optimize your supply chain strategy.  ### Storefront (Coming Soon)  Launch your own logistics-powered storefront.  ## Reports & Dashboard  ### Actionable Insights for Smarter Logistics  #### Customizable Reports & Dashboards  #### Data Engineering & Predictive Analytics  #### OCR Document Processing (Coming Soon)  #### Call Masking & Recording (Coming Soon)  ![Analytics Dashboard](https://prayog.io/assets/report.png)  Testimonials  ## You're in good company  ![Analytics Dashboard](https://prayog.io/assets/Testimonials-card.png)  FAQs  ## Frequently asked questions  What is Prayog?  Prayog is an intelligent Logistics & Supply Chain Platform designed to help developers build, develop, and scale logistics applications. It offers smart services for booking, delivery, payment, and real-time tracking without infrastructure management hassles.  How does Prayog benefit my business?  Prayog streamlines your logistics operations with AI-powered automation, real-time tracking, and seamless integrations. It reduces operational costs, improves delivery efficiency, and provides valuable insights for better decision-making.  Who can use Prayog?  Prayog is designed for developers, businesses, and enterprises looking to build or enhance their logistics capabilities. It's particularly suitable for e-commerce platforms, marketplaces, and logistics service providers.  What logistics services does Prayog offer?  Prayog offers comprehensive logistics services including booking management, real-time tracking, payment processing, AI-driven optimization, and advanced analytics. We also provide marketplace integrations and custom solutions for specific business needs.  Is Prayog compatible with third-party logistics providers (3PLs)?  Yes, Prayog is designed to work seamlessly with third-party logistics providers. Our platform supports integration with multiple 3PLs, allowing you to manage all your logistics partners through a single interface.  Does Prayog provide API access?  Yes, Prayog provides comprehensive API access with detailed documentation. Our RESTful APIs enable seamless integration with your existing systems and allow you to build custom solutions on top of our platform.  Blogs  ## Latest Insights & Innovations in Smart Logistics  ![AI-Powered Supply Chains](https://prayog.io/assets/future-of-logistics.png)  2 MINS READ  ### The Future of Logistics: AI-Powered Supply Chains with Prayog  Discover how Prayog is transforming logistics operations with AI-powered insights. From automated route optimization to real-time tracking, learn how businesses can cut costs and improve efficiency with smart logistics solutions.  ![API-First Platform](https://prayog.io/assets/API-First.png)  2 MINS READ  ### How Prayog's API-First Platform is Revolutionising Pharma Logistics  Explore how Prayog's API-based logistics platform helps pharma companies manage temperature-sensitive shipments with ease. From real-time tracking to delivery orchestration, see how you can streamline your supply chain.  ![Reverse Logistics](https://prayog.io/assets/Reverse-logistics.png)  2 MINS READ  ### Reverse Logistics Made Simple: Automate Returns with Prayog  Returns don't have to be complicated. Prayog's reverse logistics solutions simplify return pickups, processing, and refunds, making your post-purchase operations smoother and more efficient.  Visit blog  ## Join the Future of Logistics with Prayog  Start automating your supply chain, reduce operational complexities, and enhance efficiency with Prayog's AI-powered logistics platform.  Talk to an Expert",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -560
      ],
      "id": "30bd7159-f62b-4a23-b7cc-63ca4efa9421",
      "name": "InputData"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "CompanyDescription",
        "toolDescription": "=company description",
        "qdrantCollection": {
          "__rl": true,
          "value": "MARUT",
          "mode": "list",
          "cachedResultName": "MARUT"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        -20,
        200
      ],
      "id": "4518e4fb-fbd5-445a-b9db-f4bc798c9a40",
      "name": "CompanyDetails",
      "credentials": {
        "qdrantApi": {
          "id": "0ovflTm3xoR3sma3",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "MARUT",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        240,
        -560
      ],
      "id": "e9d85e94-5221-406f-af4b-63a99a1da89b",
      "name": "SaveCompany Details",
      "credentials": {
        "qdrantApi": {
          "id": "0ovflTm3xoR3sma3",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "table": {
          "__rl": true,
          "value": "chat_history",
          "mode": "list",
          "cachedResultName": "chat_history"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('When Executed by Another Workflow').item.json.sessionId }}",
            "user_message": "={{ $('When Executed by Another Workflow').item.json.query }}",
            "ai_response": "={{ $json.output }}",
            "timestamp": "={{ $now }}",
            "workflow_name": "={{ $workflow.id }}",
            "workflow_output": "={{ $json }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_response",
              "displayName": "ai_response",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflow_output",
              "displayName": "workflow_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        820,
        -40
      ],
      "id": "07fc4338-5c6e-4e7b-b899-2e96e7a1cc81",
      "name": "main_chat_history",
      "credentials": {
        "postgres": {
          "id": "4tNYWqouAxWbiVAQ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are an Company AI assistant designed to answer questions strictly based on the retrieved knowledge provided to you.\n\nInstructions:\n\nOnly respond with information present in your knowledge.\n\nDo not use prior training data, assumptions, or external sources.\n\nIf the answer is not available in your knowledge, reply with:\n\"My knowledge does not include this information.\"\n\nKeep responses precise, clear, and factual.\n\nDo not speculate, paraphrase beyond the original meaning, or generalize.\n\nAvoid repeating the question unless necessary for clarity.\n\nDo not use the word \"context\" in your response. Instead, refer to it as \"my knowledge.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        320,
        -40
      ],
      "id": "df6d31e3-22f2-4cb7-9de2-64a8d3126606",
      "name": "CompanySummarise"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "what is SMILe and its services",
          "sessionId": "2be08c9d-60f1-4b0f-9d3b-c5508565e7b1"
        }
      }
    ]
  },
  "connections": {
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "SaveCompany Details",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "SaveCompany Details",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "CompanyDetails",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "CompanySummarise",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "InputData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG": {
      "main": [
        [
          {
            "node": "CompanySummarise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InputData": {
      "main": [
        [
          {
            "node": "SaveCompany Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    },
    "CompanyDetails": {
      "ai_tool": [
        [
          {
            "node": "RAG",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CompanySummarise": {
      "main": [
        [
          {
            "node": "main_chat_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aba6ccd0-609b-4e58-8312-450fcd8c4a36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03883649a96ad19f7263559e2b819ecc5413ebc75736f9548f3252733f419860"
  },
  "id": "BkOcLFmSeB8X0KqD",
  "tags": []
}